body{
    margin: 0;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

/* Header styles */
/* Write your comments here */
header{
    background-color: #EB240F;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1, h2{
    font-family: 'Oswald', sans-serif;
}

header h1{
    color: white;
}

header img{
    border-radius: 150px;
    width: 500px;
    border: 10px dashed black;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding:  20px;

}

main img{
    max-width: 100%;
}

h2{
    font-size: 35px;
    color: black;
    margin: 40px 0px 0px;
}

a{
    color: black;
}
a:hover{
    background-color: black;
    color: red;
}

footer{
    background-color: red;
    color: black;
    text-align: center;
    padding: 50px;
}

footer p{
    margin: 0;
}

footer a :hover{
    opacity: 0.5;
    background-color: transparent;
}

p.caption{
    color: #555555;
    font-style: italic;
    margin-top: 0;
}